.sport {
    padding: 35px;
    border-radius: 20px;
    background-color: lightblue;
}

.sport-info {
    height: 270px;
    width: 269px;
    padding-top: 20px;
}

.sport-info p {
    margin-bottom: 4px;
}

.btn-cart {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 128, 0, 0.587);
    border: none;
}

.btn-cart:hover {
    background-color: rgba(32, 178, 171, 0.668);
}